body {
  margin: 0;
  font-family: Arial;
  background-color: #21252B;
  color: #fff;
  letter-spacing: 1px;
}

header {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: #343a45;
}

.container {
  margin: 1.66% auto; /* CENTER, margin 0 on top and bottom, and auto on left and right*/
  max-width: 600px;
  max-height: 400px;
}

.message {
  height: 20px;
  clear: both; /* drop to a new line */
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: #343a45;
}

.square {
  width: 30%;
  background: goldenrod;
  padding-bottom: 30%; /* Add some space to show empty divs */
  float: left; /* orders everything from left */
  margin: 1.66%;
}

button {
  background: #292e36;
  color: #fff;
  padding: 10px 20px;
  border: none;
}

.selected {
  background: #535d70;
}
